@import 'mixins';

$action-btn-size: 2rem; // 32px

.table-container {
  overflow-x: auto;
}

.align-right {
  text-align: right;

  ::ng-deep .mat-sort-header-container {
    justify-content: flex-end;
  }
}

.align-center {
  text-align: center;
}

.action-btn-container {
  min-width: $action-btn-size * 2;
}

.action-btn {
  @include mat-icon-btn-resize($action-btn-size);
}

.main-row {
  &.expanded * {
    font-weight: bolder;
  }

  &:not(.expanded) {
    &:hover {
      background-color: whitesmoke;
    }

    &:active {
      background-color: #efefef;
    }
  }

  .mat-mdc-cell {
    border-bottom-width: 0;
  }
}

.detail-row {
  height: 0;

  &.expanded {
    height: unset;
  }
}

.nodata-row {
  padding: 1rem; // 16px
}
