<input
  type="file"
  [id]="id"
  [name]="id"
  #nativeInput
  class="file-input"
  accept="image/*"
  [formControl]="formControl"
/>

<div class="image-container">
  <ng-container *ngIf="formControl.value as image; else noImage">
    <img [src]="image.url" [alt]="image.name" class="image-preview" />
    <button mat-button class="btn clear-btn" (click)="onDiscardFile()">
      Discard image
    </button>
  </ng-container>
</div>

<ng-template #noImage>
  <button mat-button class="btn upload-btn" (click)="openFileDialog()">
    {{ placeholder }}
  </button>
</ng-template>
