$image-size: 16rem; // 256px

.file-input {
  display: none;
}

.image-container {
  position: relative;
}

.image-container,
.btn {
  border-radius: 50%;
  width: $image-size;
  height: $image-size;
  font-size: large;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.clear-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity ease 0.2s;
  background-color: rgb($color: black, $alpha: 0.6);

  ::ng-deep .mdc-button__label {
    color: white;
  }

  &:hover {
    opacity: 1;
    transition: opacity ease 0.2s;
  }
}

.upload-btn {
  border: 2px solid black;
}