<form (ngSubmit)="onSubmit()" class="form" [formGroup]="form">
  <header class="header">
    <mat-icon class="account-icon" fontIcon="account_circle"></mat-icon>
    <h2 class="title">Sign up</h2>
  </header>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>User name</mat-label>
    <input
      matInput
      id="userName"
      name="userName"
      formControlName="userName"
      placeholder="User name"
    />
    <mat-error *ngIf="form.controls['userName'].hasError('required')">
      User name is required
    </mat-error>
    <mat-error *ngIf="form.controls['userName'].hasError('minlength')">
      User name must be no shorter than
      {{ form.controls["userName"].errors!["minlength"].requiredLength }}
      symbols
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      id="email"
      name="email"
      formControlName="email"
      placeholder="Email"
    />
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="form.controls['email'].hasError('invalidEmail')">
      Email is not valid
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Role</mat-label>
    <mat-select id="role" formControlName="role" placeholder="Role">
      <mat-option *ngFor="let role of roles" [value]="role.value">{{
        role.label
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['role'].hasError('required')">
      Role is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      formControlName="password"
      placeholder="Password"
    />
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      type="password"
      id="passwordConfirm"
      name="passwordConfirm"
      formControlName="passwordConfirm"
      placeholder="Confirm password"
    />
    <mat-error *ngIf="form.controls['passwordConfirm'].hasError('required')">
      Password confirmation is required
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="form.hasError('passwordsMismatch')">
    Passwords don't match
  </mat-error>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Sign up
  </button>

  <p class="login-link">
    <span>Already have an account? </span>
    <a routerLink="/auth/login">Log in</a>
  </p>
</form>
