$account-icon-size: 2rem;

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.header {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
}

.account-icon {
  width: $account-icon-size;
  height: $account-icon-size;
}

.account-icon::before {
  font-size: $account-icon-size;
}

.login-link {
  align-self: center;
}