<form (ngSubmit)="onSubmit()" class="form" [formGroup]="form">
  <header class="header">
    <mat-icon class="account-icon" fontIcon="account_circle"></mat-icon>
    <h2 class="title" i18n="@@signUp">Sign up</h2>
  </header>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label i18n="@@userName">User name</mat-label>
    <input matInput id="userName" name="userName" formControlName="userName" />
    <mat-error
      *ngIf="controlHasError('userName.required')"
      i18n="@@userNameErrorRequired"
    >
      User name is required
    </mat-error>
    <mat-error
      *ngIf="controlHasError('userName.minlength')"
      i18n="@@userNameErrorMinLength"
    >
      User name must be no shorter than
      {{ getControlError("userName.minlength", "requiredLength") }}
      {getControlError('userName.minlength.requiredLength'), plural, =1 {symbol}
      other {symbols}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label i18n="@@email">Email</mat-label>
    <input
      matInput
      type="email"
      id="email"
      name="email"
      formControlName="email"
    />
    <mat-error
      *ngIf="controlHasError('email.required')"
      i18n="@@emailErrorRequired"
    >
      Email is required
    </mat-error>
    <mat-error
      *ngIf="controlHasError('email.invalidEmail')"
      i18n="@@emailErrorInvalid"
    >
      Email is not valid
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label i18n="@@role">Role</mat-label>
    <mat-select id="role" formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role.value">{{
        role.label
      }}</mat-option>
    </mat-select>
    <mat-error
      *ngIf="controlHasError('role.required')"
      i18n="@@roleErrorRequired"
    >
      Role is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label i18n="@@password">Password</mat-label>
    <input
      matInput
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
    <mat-error
      *ngIf="controlHasError('password.required')"
      i18n="@@passwordErrorRequired"
    >
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label i18n="@@passwordConfirm">Confirm password</mat-label>
    <input
      matInput
      type="password"
      id="passwordConfirm"
      name="passwordConfirm"
      formControlName="passwordConfirm"
    />
    <mat-error
      *ngIf="controlHasError('passwordConfirm.required')"
      i18n="@@passwordConfirmErrorRequired"
    >
      Password confirmation is required
    </mat-error>
  </mat-form-field>

  <mat-error
    *ngIf="form.hasError('passwordsMismatch')"
    class="form-error"
    i18n="@@passwordsErrorMismatch"
  >
    Passwords don't match
  </mat-error>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    i18n="@@signUp"
  >
    Sign up
  </button>

  <p class="login-link">
    <span i18n="@@logInPrompt">Already have an account? </span>
    <a routerLink="/auth/login" i18n="@@logInLink">Log in</a>
  </p>
</form>
