:host {
  display: block;
  padding: 1rem; // 16px
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-fields {
  width: 100%;
  max-width: 48rem; // 768px
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "ul ur1"
    "ul ur2"
    "ul ur3"
    "md md"
    "ll lr1"
    "ll lr2"
    "ll lr3";

  &__name {
    grid-area: ur1;
  }
  
  &__category {
    grid-area: ur2;
  }
  
  &__price {
    grid-area: ur3;
  }
  
  &__ingredients {
    grid-area: md;
  }

  &__nutrients {
    grid-area: ll;
    display: flex;
    flex-direction: column;
    gap: 1rem; // 16px
  }

  &__weight {
    grid-area: lr1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "value unit"
      "errors errors";
    
    &-value {
      grid-area: value;
    }

    &-unit {
      grid-area: unit;
    }

    .combo-field-errors {
      grid-area: errors;
    }
  }

  &__energy-value {
    grid-area: lr2;
  }

  &__shelf-life {
    grid-area: lr3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "months weeks days hours"
      "errors errors errors errors";

    .shelf-life {
      &__months {
        grid-area: months;
      }
      
      &__weeks {
        grid-area: weeks;
      }

      &__days {
        grid-area: days;
      }

      &__hours {
        grid-area: hours;
      }
    }

    .combo-field-errors {
      grid-area: errors;
    }
  }
}

.combo-field-segment {
  &:first-of-type {
    ::ng-deep .mdc-notched-outline__trailing {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  
  &:last-of-type {
    ::ng-deep .mdc-notched-outline__leading {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &:not(:first-of-type):not(:last-of-type) {
    ::ng-deep .mdc-notched-outline__trailing {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    ::ng-deep .mdc-notched-outline__leading {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.combo-field-errors {
  font-size: 75%;
  line-height: calc(100% + 0.5rem); // 20px
}