<h1 i18n="@@fridgesPageHeader">Manage fridges</h1>

<div class="controls">
  <button
    (click)="openAddFridgeDialog()"
    mat-fab
    i18n-matTooltip="@@createFridge"
    matTooltip="Create fridge"
    class="add-fridge-btn"
  >
    <mat-icon>add</mat-icon>
  </button>

  <app-search-box
    name="search-fridges"
    i18n-label="@@searchFridges"
    label="Search fridges"
    i18n-placeholder="@@fridgesSearchBoxPlaceholder"
    placeholder="Search in fridge model, description or address"
    (searchQueryChange)="onSearchQueryChange($event)"
  ></app-search-box>
</div>

<app-fridges-grid
  [fridges]="fridges$ | async | or : []"
  [searchQuery]="searchQuery$ | async | or : ''"
></app-fridges-grid>
