<div class="table-container">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
    <ng-container matColumnDef="name" sticky>
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        i18n="@@productName"
      >
        Product name
      </th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th
        mat-header-cell
        mat-sort-header
        *matHeaderCellDef
        i18n="@@productCategory"
      >
        Product category
      </th>
      <td mat-cell *matCellDef="let product">
        {{ product.category | productCategoryLabel }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="align-right">
        <span i18n="@@price">Price</span>
        <span>,&nbsp;</span>
        <span i18n="@@BYN">BYN</span>
      </th>
      <td
        mat-cell
        *matCellDef="let product"
        class="align-right"
        [innerHtml]="product.price | money"
      ></td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef class="align-right" i18n="@@weight">
        Weight
      </th>
      <td mat-cell *matCellDef="let product" class="align-right">
        <ng-container *ngIf="product.weight.value; else nodata">
          {{
            product.weight.value + " " + (product.weight.unit | weightUnitLabel)
          }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="shelfLife">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="align-right"
        i18n="@@shelfLife"
      >
        Shelf life
      </th>
      <td mat-cell *matCellDef="let product" class="align-right">
        <ng-container *ngIf="product.shelfLife | any; else nodata">
          {{ product.shelfLife | shelfLifeLabel }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="productDetails">
      <td
        mat-cell
        *matCellDef="let product"
        [attr.colspan]="tableColumns.length"
      >
        <div
          [@detailExpand]="
            product.id === expandedProduct?.id ? 'expanded' : 'collapsed'
          "
          [class.expanded]="
            product.id === expandedProduct?.id ? 'expanded' : 'collapsed'
          "
        >
          <app-product-details [product]="product"></app-product-details>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th
        mat-header-cell
        *matHeaderCellDef
        class="align-center"
        i18n="@@actions"
      >
        Actions
      </th>
      <td mat-cell *matCellDef="let product" class="align-center">
        <div class="action-btn-container">
          <button
            mat-icon-button
            i18n-matTooltip="@@editProduct"
            matTooltip="Edit product"
            class="action-btn"
            (click)="openEditProductDialog(product, $event)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            i18n-matTooltip="@@deleteProduct"
            matTooltip="Delete product"
            class="action-btn"
            (click)="openDeleteProductDialog(product, $event)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>

    <tr
      mat-row
      *matRowDef="let product; columns: tableColumns"
      class="main-row"
      [class.expanded]="expandedProduct?.id === product.id"
      (click)="toggleExpandProduct(product)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let product; columns: ['productDetails']"
      class="detail-row"
      (click)="toggleExpandProduct(product)"
    ></tr>

    <tr *matNoDataRow>
      <td
        [attr.colspan]="tableColumns.length"
        class="nodata-row"
        i18n="@@noProductsMatchingFilter"
      >
        No products matching the filter "{{ dataSource.filter }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<ng-template #nodata>
  <span>—</span>
</ng-template>
