/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #3f51b5;
}

* {
  box-sizing: border-box;
}

html,
body { 
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.mat-typography {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

ul {
  margin: 0;
  padding-inline-start: 1rem; // 16px
}

input[type="number"] {
  // Chrome, Safari, Edge, Opera
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  // Firefox
  -moz-appearance: textfield;
}

fieldset {
  border: 1px solid rgba($color: black, $alpha: 0.38);
  border-radius: 0.25rem; // 4px
}