<h1>Manage products</h1>

<div class="controls">
  <button mat-fab matTooltip="Add new product" class="add-product-btn">
    <mat-icon>add</mat-icon>
  </button>

  <mat-form-field
    class="search-box"
    appearance="outline"
    subscriptSizing="dynamic"
  >
    <mat-label>Search products</mat-label>
    <input
      #searchInput
      matInput
      [formControl]="searchControl"
      id="search-products"
      name="search-products"
      placeholder="Search in product name or description"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="table-container">
  <table
    mat-table
    [dataSource]="(products$ | async) || []"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef>Product name</th>
      <td mat-cell *matCellDef="let product">{{ product.name }}</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="align-right">Price, BYN</th>
      <td mat-cell *matCellDef="let product" class="align-right">
        {{ product.price | currency : "BYN" : "" : "1.2-2" : "en-US" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef class="align-right">Weight</th>
      <td mat-cell *matCellDef="let product" class="align-right">
        {{ product.weight.value + " " + product.weight.unit }}
      </td>
    </ng-container>

    <ng-container matColumnDef="shelfLife">
      <th mat-header-cell *matHeaderCellDef class="align-right">Shelf life</th>
      <td mat-cell *matCellDef="let product" class="align-right">
        {{ product.shelfLife }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productDetails">
      <td
        mat-cell
        *matCellDef="let product"
        [attr.colspan]="tableColumns.length"
      >
        <div
          [@detailExpand]="
            product.id === expandedProduct?.id ? 'expanded' : 'collapsed'
          "
        >
          <div class="product__detail">
            <div class="product__brief-intro">
              <img
                class="product__photo"
                [src]="'http://localhost:3000' + product.imageUrl"
                [alt]="product.name + ' photo'"
              />
              <div class="product__energy-value">
                <strong>Energy value:</strong> {{ product.kiloCalories }} kcal
                <p><strong>Nutrients:</strong></p>
                <ul>
                  <li>
                    <strong>Protein:</strong> {{ product.nutrients.protein }} g
                  </li>
                  <li><strong>Fat:</strong> {{ product.nutrients.fat }} g</li>
                  <li>
                    <strong>Carbohydrates:</strong>
                    {{ product.nutrients.carbs }} g
                  </li>
                </ul>
              </div>
            </div>
            <p class="product__ingredients">
              <strong>Ingredients:</strong> {{ product.ingredients }}
            </p>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="align-center">Actions</th>
      <td mat-cell *matCellDef="let product" class="align-center">
        <div class="action-btn-container">
          <button mat-icon-button matTooltip="Edit product" class="action-btn">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Delete product"
            class="action-btn"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let product; columns: tableColumns"
      class="main-row"
      [class.expanded]="expandedProduct?.id === product.id"
      (click)="toggleExpandProduct(product)"
    ></tr>
    <tr
      mat-row
      *matRowDef="let product; columns: ['productDetails']"
      class="detail-row"
      (click)="toggleExpandProduct(product)"
    ></tr>
  </table>
</div>
