<h1 i18n="@@productsPageHeader">Manage products</h1>

<div class="controls">
  <button
    (click)="openAddProductDialog()"
    mat-fab
    i18n-matTooltip="@@createProduct"
    matTooltip="Create product"
    class="add-product-btn"
  >
    <mat-icon>add</mat-icon>
  </button>

  <app-search-box
    name="search-products"
    i18n-label="@@searchProducts"
    label="Search products"
    i18n-placeholder="@@productsSearchBoxPlaceholder"
    placeholder="Search in product name or description"
    (searchQueryChange)="onSearchQueryChange($event)"
  ></app-search-box>
</div>

<app-products-table
  [products$]="products$"
  [searchQuery$]="searchQuery$"
></app-products-table>
