<ng-container [formGroup]="form">
  <app-map-input formControlName="mapCoords"></app-map-input>

  <div class="coords" formGroupName="textCoords">
    <!-- Latitude -->
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="coord coords__lat"
    >
      <mat-label i18n="@@latitude">Latitude</mat-label>
      <input
        #latitudeInput
        type="text"
        appNumericInput
        formControlName="latitude"
        [errorStateMatcher]="earlyErrorStateMatcher"
      />
      <mat-error
        *ngIf="controlHasError('textCoords.latitude.required')"
        i18n="@@latitudeErrorRequired"
        >Latitude is required</mat-error
      >
      <mat-error
        *ngIf="controlHasError('textCoords.latitude.isNaN')"
        i18n="@@latitudeErrorNaN"
        >Latitude must be a decimal number</mat-error
      >
      <mat-error
        *ngIf="
          controlHasError('textCoords.latitude.min') ||
          controlHasError('textCoords.latitude.max')
        "
        i18n="@@latitudeErrorRange"
        >Latitude must be in range from -90 to 90</mat-error
      >
    </mat-form-field>

    <!-- Longitude -->
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      class="coord coords__lat"
    >
      <mat-label i18n="@@longitude">Longitude</mat-label>
      <input
        #longitudeInput
        type="text"
        appNumericInput
        formControlName="longitude"
        [errorStateMatcher]="earlyErrorStateMatcher"
      />
      <mat-error
        *ngIf="controlHasError('textCoords.longitude.required')"
        i18n="@@longitudeErrorRequired"
        >Longitude is required</mat-error
      >
      <mat-error
        *ngIf="controlHasError('textCoords.longitude.isNaN')"
        i18n="@@longitudeErrorNaN"
        >Longitude must be a decimal number</mat-error
      >
      <mat-error
        *ngIf="
          controlHasError('textCoords.longitude.min') ||
          controlHasError('textCoords.longitude.max')
        "
        i18n="@@longitudeErrorRange"
        >Longitude must be in range from -180 to 180</mat-error
      >
    </mat-form-field>
  </div>
</ng-container>
