:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem; // 16px
}

.coords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem; // 16px
}

.coord {
  flex: 1 1 0;
}

@media (max-width: 32rem /* 512px */) {
  .coords {
    flex-direction: column;
  }
}