<header class="header">
  <h2 matDialogTitle i18n="@@confirmDelete">Confirm delete</h2>
  <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
</header>

<mat-dialog-content>
  <p i18n="@@deletePrompt">
    Are you sure you want to delete the selected {{ itemType }}?
  </p>
  <p i18n="@@deleteWarning">This action is irreversible.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    tabindex="2"
    color="primary"
    [mat-dialog-close]="true"
    i18n="@@delete"
  >
    Delete
  </button>
  <button
    mat-button
    tabindex="1"
    [mat-dialog-close]="false"
    cdkFocusInitial
    i18n="@@cancel"
  >
    Cancel
  </button>
</mat-dialog-actions>
