<button
  mat-mini-fab
  #decrementBtn
  (click)="decrement()"
  i18n-matTooltip="@@decrement"
  matTooltip="Decrease by 1"
  class="control-btn"
  color="primary"
>
  <mat-icon>remove</mat-icon>
</button>

<mat-form-field
  appearance="outline"
  subscriptSizing="dynamic"
  class="counter-field"
>
  <input
    type="text"
    class="counter-input"
    appNumericInput
    [formControl]="formControl"
  />
</mat-form-field>

<button
  mat-mini-fab
  #incrementBtn
  (click)="increment()"
  i18n-matTooltip="@@increment"
  matTooltip="Increase by 1"
  class="control-btn"
  color="primary"
>
  <mat-icon>add</mat-icon>
</button>
