<mat-form-field
  class="search-box"
  appearance="outline"
  subscriptSizing="dynamic"
>
  <mat-label>{{ label }}</mat-label>
  <input
    #searchInput
    matInput
    [formControl]="searchControl"
    [id]="name"
    [name]="name"
    [placeholder]="placeholder"
    [matAutocomplete]="autocomplete"
  />
  <mat-icon *ngIf="isBlank$ | async" matSuffix>search</mat-icon>
  <button
    *ngIf="(isBlank$ | async) === false"
    matSuffix
    mat-icon-button
    type="button"
    (click)="reset()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
