<form [formGroup]="form">
  <table
    mat-table
    [dataSource]="dataSource"
    formArrayName="productQuantities"
    [trackBy]="productQtyTrackBy"
  >
    <!-- Column definitions -->
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef i18n="@@productHeader">Product</th>
      <td
        mat-cell
        *matCellDef="let productQty; let i = index"
        [formGroupName]="i"
      >
        {{ productQty.product?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef i18n="@@quantityShort">Qty</th>
      <td
        mat-cell
        *matCellDef="let productQty; let i = index"
        [formGroupName]="i"
      >
        <app-counter-input formControlName="quantity"></app-counter-input>
      </td>
    </ng-container>

    <!-- Row definitions -->
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let productQty; columns: tableColumns"></tr>

    <tr *matNoDataRow>
      <td
        [attr.colspan]="tableColumns.length"
        class="nodata-row"
        i18n="@@noFridgeProducts"
      >
        There are no products in this fridge yet
      </td>
    </tr>
  </table>
</form>
